<div class="row px-md-5 mx-md-5">
  <div class="col-lg-7">
    <app-picture></app-picture>
  </div>
  <div class="col-lg-5">
    <app-description></app-description>
  </div>
</div>
<div class="row">
  <p class="text-center w-100 text-uppercase font-weight-bold">
    <span class="border-bottom px-5 mr-5 d-none d-md-inline"></span>
    {{'Body.polecamyRowniez'| translate}}
    <span class="border-bottom px-5 ml-5 d-none d-md-inline"></span>
  </p>
  <div class="col-12">
    <app-carousel></app-carousel>
  </div>
</div>
