.collapse-background-color {
  background-color: white;
}

button:focus {
  outline: none;
}

.collapse-border {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid gainsboro;
}
