<div class="col-md-12">
  <div class="row pt-4 pb-5 ml-md-5">
    <div class="col-md-5 text-uppercase font-weight-bold pl-md-5">
      <div class="row justify-content-between">
        <p class="font-size-md">{{'SubFooter.stronaGlowna'| translate}}</p>
        <p class="font-size-md">{{'Body.aukcje'| translate}}</p>
        <p class="font-size-md">{{'Body.nowosci'| translate}}</p>
        <p class="font-size-md">{{'Body.promocje'| translate}}</p>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 text-uppercase font-weight-bold">
      <span class="mr-4 font-size-md d-md-block d-none">{{'SubFooter.odwiedzNas'| translate}}</span>
      <p class="mr-4 font-size-md d-md-none d-block">{{'SubFooter.odwiedzNas'| translate}}</p>
      <img (click)="onSocialMedia('https://www.facebook.com/PllLOT/')" class="mx-2" src="assets/socialmedia/facebook.png" width="30" height="30">
      <img (click)="onSocialMedia('https://www.google.pl/flights/?gl=pl')" class="mx-2" src="assets/socialmedia/google-plus.png" width="30" height="30">
      <img (click)="onSocialMedia('https://pl.pinterest.com/lotairlines/')" class="mx-2" src="assets/socialmedia/pinterest.png" width="30" height="30">
      <img (click)="onSocialMedia('https://www.youtube.com/user/LOTPolishAirlinesTV')" class="mx-2" src="assets/socialmedia/youtube.png" width="30" height="30">
      <img (click)="onSocialMedia('https://pl.linkedin.com/company/lot-polish-airlines')" class="mx-2" src="assets/socialmedia/linkedin.png" width="30" height="30">
      <img (click)="onSocialMedia('https://www.instagram.com/flylot/?hl=pl')" class="mx-2" src="assets/socialmedia/instagram.png" width="30" height="30">
    </div>
  </div>
  <div class="row ml-md-5">
    <div class="col-md-8 pl-md-5">
      <div class="row justify-content-center justify-content-md-start">
        <div>
        <p class="mb-0 font-size-sm text-color-gray"><i class="fa fa-copyright mr-3">2015 Polskie Linie Lotnicze LOT S.A.</i></p>
        <p class="font-size-sm text-color-gray">ul. 17 Stycznia 39, 00-906 Warszawa</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pl-md-5">
      <img src="assets/image/star.jpg" class="d-md-block d-none" width="300" height="100">
    </div>
  </div>
</div>




